.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.headline {
    background-color: rgb(42, 40, 40);
    color: white;
    text-align: center;
    padding: 16px;
}

.body {
  display: flex;
  flex: 1;
  min-height: 0;
}

.sidebar {
  width: fit-content;
  min-width: 150px;
  background-color: #cfd3d8;
  color: rgb(80, 77, 77);
  padding: 24px;
}

.content {
  flex: 1;
  padding: 24px;
  overflow: auto;
}