.analysis-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-form-field {
  margin-left: 8px;
  margin-right: 8px;
}

.analysis-input {
  margin-left: 8px;
  margin-right: 8px;
  width: 100%;
}

.analysis-input .mat-mdc-form-field-flex,
.analysis-input .mat-mdc-form-field-infix,
.analysis-input textarea {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.button-spinner {
  margin-right: 8px;
}